
.main {
    display: flex;
    flex-direction: row;
    width: 500px;
    background-color: gold;
    margin: auto;
    padding: auto;
}

.link{
    width: 150px;
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-right: 20px solid black;
    text-decoration: none;
    justify-content: space-around;
    color: blue;
}

.head {
    color: purple;
    font-size: 30px;
    font-weight: bold;
}

.contents {
    margin: 10px;
    color: purple;
}

.line {
    background-color: purple;
    height: 2px;
    border: 0px;
}