.navi ul li {
    float: left;
    width: 150px;
    padding: 10px;
    list-style-type: none;
}

ul {
    list-style-type: none;
}

/* 방문한 링크와 방문하지 않은 링크 */
.navi a:link, .navi a:visited {
    display: block;
    font-size: 14px;
    color: #000;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

/* 마우스 포인터를 올렸을 때와 초점을 맞췄을 때 설정 */
.navi a:hover, .navi a:focus {
    background-color: #222;
    color: #fff;
}

/* 마우스 포인터로 클릭했을 때 지정 */
.navi a:active {
    background-color: #f00;
}

table {
    border-collapse: collapse;
}

#intro:target {
    background-color: #0069e0;
    color: #fff;
}

#signup li {
    margin-bottom: 20px;
}

/* 인접 형제 선택자*/
#signup input:checked + label {
    color: red;
    font-weight: bold;
}