html {
    background-color: steelblue;
}

h1 {
    font-size: 70px;
    color: steelblue;
    margin: 0px;
    text-shadow: 5px 5px 5px black;
}

#center {
    text-align: center;
}

#bg_center {
    width: 550px;
    background-color: orange;
    padding: 20px;
    border: 5px solid black;
}